*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  gap: 1em;
}

.navLinks {
  display: flex;
  gap: 1em;
}

.bookList {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2em auto;
  gap: 1em;
}

.bookList li {
  display: flex;
  justify-content: space-between;
}

.bookWrapper {
  flex-basis: 50%;
}